## Proyecto de backend para el CEUPNA

# General
*.pyc
*.json
*.csv

# Crawler en scrapy (python)
/crawler/*.html
/crawler/data
/.scrapy
/.scrapy.old

# Backend Django
db.sqlite3
api/key.txt

# Para el IDE ‘PyCharm’
.idea