## Proyecto de backend para el CEUPNA

# General
*.pyc
*.json
*.csv

# Crawler en scrapy (python)
crawler/*.html
crawler/data
crawler/scrapy.log
.scrapy*

# Backend Django
db.sqlite3
api/key.txt
media/

# Para el IDE ‘PyCharm’
.idea

# Ficheros de SSOO
*.~*
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Producción
*.old
local_settings.py
env/
logs/
api/static/
api/gunicorn_start