Django==1.11
djangorestframework==3.6.2
Scrapy==1.3.3
beautifulsoup4==4.5.3
drfdocs==0.0.11
django-debug-toolbar==1.8
django-cors-headers==2.1.0
django-jet==1.0.6
django-nested-admin==3.0.21
Pillow==4.2.1
requests==2.18.1
google-api-python-client==1.6.2
icalendar==3.11.5
lxml==3.7.3
packaging==16.8
urllib3==1.21.1
olefile==0.44
pytz==2017.2
queuelib==1.4.2
appdirs==1.4.3
django-parler==1.9.1
pyasn1-modules==0.0.9
certifi==2017.4.17
PyDispatcher==2.0.5
scrapy-djangoitem==1.1.1
Automat==0.5.0
python-monkey-business==1.0.0
pyparsing==2.2.0
oauth2client==4.1.2
constantly==15.1.0
asn1crypto==0.22.0
zope.interface==4.3.3
parsel==1.1.0
uritemplate==3.0.0
rsa==3.4.2
incremental==16.10.1
pycparser==2.17
cryptography==1.8.1
chardet==3.0.4
cssselect==1.0.1
w3lib==1.17.0
service-identity==16.0.0
six==1.10.0
django-scrapy==0.1a1
httplib2==0.10.3
simplejson==3.11.1
cffi==1.10.0
python-dateutil==2.6.1
idna==2.5
attrs==16.3.0
pyOpenSSL==16.2.0
pyasn1==0.2.3
isort==4.2.15
sqlparse==0.2.3
Twisted==17.1.0
